*{
    margin: auto;
}
.kontakt{
    font-size:30px;
    font-weight:bold;
    color:green;
}
span{
    color:white;
    font-size:20px;
    font-weight: 400;
}
#prvi{
    border-top:4px solid darkgrey;
    height:auto;  
    background-color: grey;  
    text-align: center;
}
#drugi{
    background-color: lightgreen;
    border-top: 4px solid green;
    height: auto;
}
h3{
    color:lightgreen;
    text-align: center;
    font-weight: bold;
    font-family: 'Arial Bold';
}
