* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#main_div_kids{
    background-color: grey;
    width: 100%;
    height: auto;
    display: flex;
}
#naslov {
    margin-bottom: 20px;
}
img {
    width: 100%;
}
#img_kids1 {
    margin-bottom: 5px;
}
H1 {
    color: green;
    text-align: center;
    padding-top: 2%;
    font: bold;
    font-family: army;
}
#struktura_casova {
    float: left;
    position: relative;
    margin-bottom: 20px;
}
#foto {
    float: right;
    /* position: relative; */
    margin-bottom: 20px;
}
#info {
    float: left;
    clear: left;
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}
#plan_i_program {
    float: left;
    clear: left;
    margin-bottom: 20px;
}
#dodatne_aktivnosti {
    margin-left: 0px;
    float: right;
}
#prednost_programa {
    width: 100%;
    float: left;
    clear: both;
    margin-bottom: 30px;
}
.borders{
    border: 2px solid green;
    box-shadow: 5px -5px green;
    border-radius: 25px;
    background-color: rgb(23, 136, 136);
    padding-top: 10px;
    padding-left: 25px;
    text-align: justify;
}