.text {
    background-color: rgb(23, 136, 136);
    margin-bottom: 30px;
    padding: 20px;
    text-align: justify;
    border: 1px solid black;
    border-radius: 10px;
}

h4 {
    font-weight: bold;
}

.image {
    border: 1px solid black;
    border-radius: 10px;
}

#slicice,
#slika {
    background-color: black;
    border-radius: 10px;
}

#slika {
    display: none;
}

#slika img {
    width: 100%;
}

.gallery {
    opacity: 0.4;
    cursor: pointer;
}

.gallery:hover {
    transform: scale(1.1);
    opacity: 1;
    transition: .5s;
}