nav {
    border-bottom: 2px solid green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#logo {
    width: 100px;
}

#footer {
    color: green;
    text-align: center;
    height: 12vh;
    border-top: 2px solid green;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    line-height: 78px;
}

#ser,
#uk {
    cursor: pointer;
    width: 20px;
}

#mainDiv {
    background-color: grey;
    width: 100%;
    height: 76vh;
    text-align: center;
    overflow: scroll;
}